@model ResourceBlender.Common.ViewModels.ResourceTranslationViewModel
@{
  ViewBag.Title = "Delete current resource";
}

@if (TempData["ErrorMessage"] != null)
{
  Html.RenderPartial("_Error", TempData["ErrorMessage"]);
}
else
{
<h2>Delete current resource: @Model.ResourceString</h2>

<div class="container">
  <div>Are you sure you want to delete the current resource?</div>
  @using (Html.BeginForm("Delete", "Resources"@*, new { id = Model.Id }*@, FormMethod.Post))
  {
    @Html.HiddenFor(model => model.ResourceId)
    @Html.HiddenFor(model => model.ResourceString)
    <input type="submit" value="Yes" class="btn btn-danger" />
  }
  @Html.ActionLink("Go back to homepage", "Index", "Resources", new { @class = "btn btn-info" })
</div>
}

